.tit {
    background-color: #96d178;
  }
  .tit h2 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;
  }
  
  .formulario form {
    width: 400px;
  }
  
  .signImg img {
    width: 600px;
  }
  
  @media (max-width: 575px) {
  /* .fomulario {
    display:flex;
    flex-direction: column-reverse;
  } */
  .signImg {
      display:none;
  }
}

