/** _global.scss */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$black:#4a4a4a;
$gray: #979797;
$green: #67b54b;

/** fuentes */
$font-title: "Alegreya", serif;

/** placeholders */
%base-title {
    font-family: $font-title;
    color: $dark-green-text;
}
%button-green {
        color: #fff;
        background-color: $green;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        border-radius: 8px;
}