* {
    box-sizing: border-box;
        margin: 0;
        padding: 0;
}
body {
    background-color: #fffbf7;
    /* background-image: url( '') */
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: #46484c;
}
h1, h2, h3 {
    font-family: 'Alegreya', serif;
}
a {
    text-decoration: none;
}

p {
    color: #343434 ;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;  
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}

/* header */
/* fixed en una section, su funcion que no se mueva el header */
.fixed-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
  }

.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}
/* todos los hijos que tenga header */
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

li {
      display: inline;
}
.logo {
      width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px; 
}


.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
}

.actions a {
    color: #67b54b;
  }

.actions button {
    color:white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

/* section del video y el article */
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 20px;
}
.div-video {
    display: flex;
     flex-direction: column;
     align-items: center;
}
.div-video img {
    width: 200px;
}
.publish h2{
    font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
    font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
    display: flex;
}

.publish > h3 {
    color: #8b8b8bcc;
    margin-right: 18px;
    margin: 10px 0;
}
.trial input{
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #b6b6b6;
}
.trial button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* section of success-stories */
.users {
    background-color: #a1d683;
    padding: 50px 0;
}
.content {    
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
}
.brands h2 {
    font-family: 'Alegreya', serif;
    font-size: 50px;
    color: #025157;
}
.brands p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
}
.brands button {
    display: block
}
.brands img{
    width: 500px;
    margin-top: 20px;
}
.profiles {
    background-color: #fff;
    width: 280px;
    border-radius: 8px;
    position: relative;
}
.profiles-foto {
    width: 280px;
}
.profiles-logo {
    background-color: #f9da73;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px; 
    right: 20px;
}

.profiles-logo img {
    width: 75px;
    height:auto;
}

.profiles-info {
    padding: 20px;
}
.profiles-info h3 {
    font-size: 20px;   
    color: #025157;
    margin-bottom: 20px;
}
.profiles-info > p {
    font-size: 25px;
    margin-bottom: 20px;
}
.profiles-info button {
    width: 100%;
}

.cart {
    display:flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
}
.cart img {
    height: 25px; 
}
.cart p {
    color: #8b8b8bcc;
    font-size: 16px;
}
